@model BackEndCapstone.Models.Ticket

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input asp-for="Title" class="input is-rounded" type="text" placeholder="Text input">
                </div>
            </div>
            <div class="field">
                <label class="label">Ticket Description</label>
                <div class="control">
                    <textarea asp-for="Description" class="textarea is-rounded" placeholder="Short Description of Ticket"></textarea>
                </div>
            </div>
            <div class="field">
                <label class="label">Department</label>
                <div class="control">
                    <div class="select is-rounded">
                        <select asp-for="DepartmentId" asp-items="ViewBag.DepartmentId"></select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Employee</label>
                <div class="control">
                    <div class="select is-rounded">
                        <select asp-for="EmployeeId" asp-items="ViewBag.EmployeeId"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ApplicationUserId" class="form-control" asp-items="ViewBag.ApplicationUserId" />
                <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" asp-action="NotCompletedTickets"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="NotCompletedTickets">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
