@model IEnumerable<BackEndCapstone.Models.Ticket>

<h2>Active Tickets</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TicketId">Assign</a> |
                    <a asp-action="Details" asp-route-id="@item.TicketId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TicketId">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>
