@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
        <div class="navbar-item has-dropdown">
            <a class="navbar-link">
                Manager Options
            </a>
            <div class="navbar-dropdown">
                <a class="navbar-item is-hoverable" asp-area="" asp-controller="Employees" asp-action="Index">Employees</a>
                <a class="navbar-item is-hoverable" asp-area="" asp-controller="Departments" asp-action="Index">Departments</a>
            </div>
        </div>
<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-item">
        <div>
            <button type="submit" class="button is-info">Logout</button>
        </div>
</form>

}
else
{
    <div class="navbar-start">
        <a class="navbar-item" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="navbar-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
    }
